.enquiry-container {
  width: 30%;
  margin: 10% 0 0 32.5%;
  border: 1px solid darkgray;
  border-radius: 2.5px;
  box-shadow: 2px 2px 5px 2px darkgray;

  .form-area {
    @include flexShift(column, center, center);
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid darkgray;

    .enquiry-input {
      @include font-inter-700(1rem);
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
    .enquiry-text {
      @include font-inter-700(1rem);
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
    .enquiry-submit-btn {
      @include font-inter-700(1rem);
      width: 100%;
      padding: 0.5em;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
  }
}
