.home-container {
  display: flex;
  justify-content: space-between;

  .filter-pane {
    width: 20%;
    margin: 1em 0 2em;
    padding: 0 1em;
  }
  .items-pane {
    width: 75%;
    margin: 1em 0 2em;
  }
}
